@if (ViewBag.Message != null)
{
    if(ViewBag.MsgType == "ERROR")
    {
        <div class="alert alert-danger" role="alert">
        @ViewBag.Message
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }
}